
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:hsla(229,34%,13%,1);
    background-image:
            radial-gradient(at 0% 0%, hsla(229,34%,13%,1) 0px, transparent 50%),
            radial-gradient(at 100% 100%, hsla(212,25%,27%,1) 0px, transparent 50%);
    color: #ffffff;
    font-family: 'Satisfy';
    &__header {
        position: fixed;
        width: 100%;
        height: 100px;
        background: rgba(15, 19, 37, 0.9);
        z-index: 3;
        @media (max-width: 767px) {
            height: 60px;
        }
    }
    &__main {
        flex: 1 1 auto;
        position: relative;
        z-index: 2;
        padding-top: 120px;
        @media (max-width: 767px) {
            padding-top: 70px;
        }
    }
    &__footer {
        position: relative;
        z-index: 2;
        height: 50px;
    }
}
